@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

/* Print styles */
@media print {
  @page {
    margin: 0.5cm;
  }
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
  .print-container {
    width: 100%;
    height: 100%;
  }
}
